:root {
  --color-slate--900: #1F314F;
  --color-slate-500: #68778D;
  --color-slate-300: #D5E1EF;
  --color-white: #FFFFFF;

   /* Typography Presets */
  --font-family-base: 'Outfit', sans-serif;
  --text-preset-1-font-size: 1.25rem;
  --text-preset-1-font-weight: 700;
  --text-preset-1-line-height: 1.2;
  --text-preset-1-letter-spacing: 0rem;
  --text-preset-2-font-size: 0.938rem;
  --text-preset-2-font-weight: 400;
  --text-preset-2-line-height: 1.4;
  --text-preset-2-letter-spacing: 0.013rem;

  /* Spacing */
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
}
